<?xml version="1.0" encoding="utf-8"?>

<configuration name="XPrismModules.Config">
    <modules>

        <module assemblyFile="DialogModules.dll">
            <!-- 对话框模块 -->
            <moduleName>DialogModule</moduleName>
        </module>

        <module assemblyFile="ResetResourcesModules.dll">
            <!-- 重置资源模块 -->
            <moduleName>ResetResourcesModule</moduleName>
        </module>

        <module assemblyFile="HomeModules.dll">
            <!-- 对话框主窗口测试模块 -->
            <moduleName>HomeModule</moduleName>
            <moduleName>Home1Module</moduleName>
        </module>

        <module assemblyFile="MainModules.dll">
            <!-- 引用模块 -->
            <moduleName>MainModules</moduleName>
        </module>
        
        <module assemblyFile="NavigationsModules.dll">
            <moduleName>NavigationsModule</moduleName>
        </module>

    </modules>
</configuration>