<?xml version="1.0" encoding="utf-8"?>

<configuration name="XPrismModules.Config">
    <modules>

        <module assemblyFile="DialogModules.dll">
            <moduleName>DialogModule</moduleName>
        </module>

        <module assemblyFile="HomeModules.dll">
            <moduleName>HomeModule</moduleName>
            <moduleName>Home1Module</moduleName>
        </module>

        <module assemblyFile="MainModules.dll">
            <moduleName>MainModules</moduleName>
        </module>

    </modules>
</configuration>